<footer
      class="page-footer font-small mdb-color lighten-3 pt-4"
      style="background-image: url('static/img/footer.png');"
    >
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Content -->
        <img
          src="{% static 'assets/img/akt-icon.png' %}"
          alt="halo halo bandung"
          id="iconFooter"
        />
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Hubungi Kami</h5>

        <ul class="list-unstyled listFooter">
          <li>
            <p>Jl. Pela Raya no. 78A</p>
          </li>
          <li>
            <p>Kebayoran Baru</p>
          </li>
          <li>
            <p>Jakarta Selatan</p>
          </li>
          <li>
            <p>Tlp : (021) 27088035</p>
          </li>
          <li>
            <p>Wa : 081927088035</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">
          Jam Operasional
        </h5>

        <ul class="list-unstyled listFooter">
          <li>
            <p>Senin s/d Jumat</p>
          </li>
          <li>
            <p>Pukul 8.30am-18.00pm</p>
          </li>
          <li>
            <p>Sabtu</p>
          </li>
          <li>
            <p>Pukul 8.30am-15.00pm</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <div class="buttonWrapper">
            <i class="fa fa-facebook-f"></i>
          </div>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <div class="buttonWrapper">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <!-- Instagram -->
        <a type="button" class="btn-floating btn-dribbble">
          <div class="buttonWrapper">
            <i class="fa fa-instagram"></i>
          </div>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>