{% extends 'base_sekretaris.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/artikel_sekretaris.css' %}">

<div
  class="artikel-hero"
  style="background-image: url('../static/img/etika_sekretaris_sebagai_representasi_perusahaan.jpg');"
>
  <div
    class="artikel-hero-content"
  >
    <h1>{{title}}</h1>
    <p style="color: white;">{{desc}}</p>
  </div>
</div>

<div class="container-fluid white-div">


  <!-- content -->

  <div class="container half-width">
    <div class="seminar">

      {% for seminar in data %}


      <center>
        <h4 style="color: #f32aac;"><b>{{seminar.title}}</b></h4>
        <h5>{{seminar.date}}</h5>
        {% if seminar.desc %}
        <p>{{seminar.desc}} <a href="#" style="text-decoration: none; border: none; color: #f32aac;"><b>Klik Disini</b></a></p>
        <br>
        {% endif %}
      </center>

      <div
      id="carouselExampleIndicators{{forloop.counter}}"
      class="carousel slide"
      data-ride="carousel"
      >
      <div class="carousel-inner">
        
        {% for foto in seminar.foto %}
        {% if forloop.counter == 1 %}
        <div
          class="carousel-item active"
          style="background-color: rgb(158, 158, 158)"
        >
          <img class="d-block w-100" src="{% static 'img/'|add:foto %}" alt="First slide" />
        </div>

        {% else %}

        <div
          class="carousel-item"
          style="background-color: rgb(158, 158, 158);"
        >
          <img class="d-block w-100" src="{% static 'img/'|add:foto %}" alt="First slide" />
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators{{forloop.counter}}"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators{{forloop.counter}}"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
      <br><br><br>
    {% endfor %}

    </div>
  </div>
</div>


    <!-- endcontent -->

    <br /><br /><br /><br /><br /><br /><br /><br />
    <center>
      <h3><b>Pendaftaran Online</b></h3>
    </center>

    <button
      class="button-klik-disini"
    >
      Klik Disini
  </button>
    <br /><br /><br />
  </div>

{% endblock content %}
