{% extends 'base_fashion.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/eventsem.css' %}" />

<div class="page-eventsem">
  <div class="main-div-eventint">
    <div class="title-div">
      <div class="title-inner">
        <div class="title-design-eventin">
          <h1 class="content-title-design-eventint">Events</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="pembatas-main-detailartikel">
    <p class="title-main-eventint">Fashion Seminar</p>
  </div>

  <div class="konten-isi-detailartikel">
    <div class="container isidetail-konten">
      <div class="bagianawal">
        <h1 class="title-kind-fashionshow">
          Seminar Pembicara Adji Notonegoro,
        </h1>
        <h1 class="title-kind-fashionshow">Iwan Gunawan, Billy Tjong 2015</h1>
        <p>
          Lembaga Pelatihan InterStudi menyelenggarakan seminar Fashion Design
          dikampus Bulungan guna membantu para siswa SMA/SMK agar dapat
          menumbuhkan minat untuk mengenal dan belajar tentang fashion. Melalui
          seminar ini, diharapkan siswa dapat memahami tentang cara berpakaian
          yang baik, mengkombinasikan warna pakaian, dan penyesuaian jenis
          pakaian sesuai kegiatannya. Seminar ini dibawakan oleh disainer
          Indonesia diantaranya, diantaranya Adji Notonegoro, Billy Tjong, dan
          Ivan Gunawan.
        </p>
        <div
          id="carouselExampleIndicators"
          class="carousel slide caraousel-one"
          data-ride="carousel"
        >
          <div class="carousel-inner">
          {% for img2015 in sem2015_imgs %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img2015 %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% else %}
            <div class="carousel-item">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img2015 %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% endif %}
            {% endfor %}
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
        </div>
      </div>
      <div class="bagiankedua">
        <h1 class="title-kind-fashionshow">Seminar 29 November 2014</h1>
        <div id="carousel-1" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner" role="listbox">
            {% for img2014 in sem2014_imgs %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img2014 %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% else %}
            <div class="carousel-item">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img2014 %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% endif %}
            {% endfor %}
          <!-- e carousel-inner -->

          <a
            class="carousel-control-prev"
            href="#carousel-1"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">prev</span>
          </a>

          <a
            class="carousel-control-next"
            href="#carousel-1"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">next</span>
          </a>
        </div>
        </div>
        <!-- e carousel -->
      </div>
      <div class="bagianketiga">
        <h1 class="title-kind-fashionshow">
          Seminar Personal Grooming - 08 Oktober 2016
        </h1>
        <p>
          Lembaga Pelatihan InterStudi melaksanakan seminar personal grooming
          dikampus Bulungan dalam rangka memberikan pendidikan tentang
          penampilan seseorang, dimulai dari cara berpakaian sampai dengan tutur
          kata dan sopan santun. Agar dapat berbusana yang baik, berpenampilan
          yang rapi, sopan, luwes, serasi dan menarik (personal apperance)
          sesuai dengan etika dan tata krama pergaulan. Seminar ini dibawakan
          oleh Adji Notonegoro
        </p>
        <div id="carousel-2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner" role="listbox">
            {% for img2016 in sem2016_imgs %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img2016 %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% else %}
            <div class="carousel-item">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img2016 %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% endif %}
            {% endfor %}
          <!-- e carousel-inner -->

          <a
            class="carousel-control-prev"
            href="#carousel-2"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">prev</span>
          </a>

          <a
            class="carousel-control-next"
            href="#carousel-2"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">next</span>
          </a>
          </div>
        </div>
        <!-- e carousel-->
      </div>

      <div class="bagianempat">
        <h1 class="title-kind-fashionshow">Talk Show Personal Grooming</h1>
        <p>
          Lembaga Pelatihan InterStudi bekerjasama dengan showroom BMW
          menyelenggarakan talk show tentang Fashion Grooming di showroom BMW
          JI.TB Simatupang, Jakarta Selatan pada tahun 2016. Melalui talk show
          ini, diharapkan masyarakat umum dapat memahami grooming dalam
          berpakaian dan penyesuaian jenis pakaian sesuai kegiatannya. MC acara
          ini M.Farhan dan narasumber pembicaranya Adji Notonegoro.
        </p>
        <div id="carousel-3" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner" role="listbox">
            {% for img_talkshow in talkshow_imgs %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img_talkshow %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% else %}
            <div class="carousel-item">
              <div class="itemimg">
                <img
                  class="d-block w-50 m-auto"
                  src="{% static 'img/'|add:img_talkshow %}"
                  alt="Slide"
                />
              </div>
            </div>
            {% endif %}
            {% endfor %}
          <!-- e carousel-inner -->

          <a
            class="carousel-control-prev"
            href="#carousel-3"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">prev</span>
          </a>

          <a
            class="carousel-control-next"
            href="#carousel-3"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">next</span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#carousel-1").carousel({
    interval: 4000,
    wrap: true,
    keyboard: true,
  });

  /* 2 carousel */
  $("#carousel-2").carousel({
    interval: 6000,
    wrap: true,
    keyboard: true,
  });
  $("#carousel-3").carousel({
    interval: 6000,
    wrap: true,
    keyboard: true,
  });
</script>

{% endblock content %}
