{% extends 'base_fashion.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/faq.css' %}" />

<div class="page-faq">
  <div class="main-div-faq">
    <div class="title-div">
      <div class="title-inner">
        <br />
        <div class="title-design">
          <h1 class="content-title-design-faq">F.A.Q</h1>
        </div>

        <div class="card-faq">
          <div style="text-align: center">
            <span class="dot dotfaq"></span>
          </div>
          <div class="faq-form">
            <input type="text" name="" id="" placeholder="Nama" />
            <br /><br />
            <input type="text" name="" id="" placeholder="Email" />
            <br /><br />
            <input type="text" name="" id="" placeholder="Judul" />
            <br /><br />
            <input type="text" name="" id="" placeholder="Pertanyaan" />
            <br /><br />

            <button type="submit" class="faq-button">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
