{% extends 'base_fashion.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/tentangpengajar.css' %}" />

<div class="page-tentang-pengajar" style="padding-bottom: 100px;">
  <div class="main-div-tentangpengajar">
    <div class="title-div">
      <div class="inner-tentangpengajar">
        <br />
        <div class="title-design">
          <h1 class="content-title-tentangpengajar" id="firstname">Adjie</h1>
          <h1 class="content-title-tentangpengajar" id="lastname">
            Notonegoro
          </h1>
        </div>

        <p class="detail-main-div-tentangpengajar">
          Professional Fashion Designer
        </p>

        <!-- <a class="a-explore" href="#"
          ><div class="button-explore">EXPLORE</div></a
        > -->
      </div>
    </div>
  </div>
  <div class="container about-pengajar">
    <div class="row">
      <div class="col-lg-5 about-left-tentangpengajar">
        <img
          src="{% static 'img/pengajar.jpg' %}"
          class="image-pengajar"
          alt=""
        />
      </div>
      <div class="col-lg-7 about-right-tentangpengajar">
        <p class="title-portofolio">Event Held for Adjie Notonegoro Design's</p>
        <ul class="isi-portofolio">
          <li class="plist">
            Batik utk pemimpin negara-negara pada KTT APEC 2005
          </li>
          <li class="plist">Pagelaran di Mode Woche, Munchen,Jerman 1990</li>
          <li class="plist">IGEDO Fashion week, Jerman 1992</li>
          <li class="plist">
            Charity Night utk Kerajaan Ratu Sirikit Thailand
          </li>
          <li class="plist">Charity Night utk Palang Merah Dunia - New York</li>
          <li class="plist">
            Charity Night utk anak putus sekolah - Bahamas & New York
          </li>
          <li class="plist">
            Indonesia Emas - Jakarta, Amsterdam, Paris, Budapest,Rome,Milan,
            London, New York, Washington
          </li>
          <li class="plist">
            Heritage of Indonesia - Jakarta, New York, Jamaica, Bahamas,
            Guatemala, Nicaragua
          </li>
          <li class="plist">
            Batik Heritage of Indonesia 2007 - Manila, Madrid, Australia, New
            Zealand, Laos, Bangkok
          </li>
          <li class="plist">Garuda Indonesia for Korea, Jerman, Fukuoka</li>
          <li class="plist">
            Heritage of Indonesia 1995 - Singapore, Bangkok, Malaysia
          </li>
          <li class="plist">Dubai Moslem Fashion Week 2005</li>
          <li class="plist">Etc</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="clients-pengajar">
    <h1 class="title-clients">Clients</h1>

    <div class="container achievment-list">
      <div class="row">
        <div class="col-lg-3">
          <h4 class="client-uniform-list">List of Client Uniform:</h4>
          <ul class="isi-client-uniform" style="list-style-type: none">
            <li class="plist">- Bank Niaga</li>
            <li class="plist">- Lippobank</li>
            <li class="plist">- CitiBank</li>
            <li class="plist">- American Express</li>
            <li class="plist">- Manhattan Bank</li>
            <li class="plist">- Bank Rakyat Indonesia</li>
            <li class="plist">- BNI</li>
            <li class="plist">- Bank Permata</li>
            <li class="plist">- Tiara Bank</li>
            <li class="plist">- Bank Ekonomi</li>
            <li class="plist">- BIl</li>
            <li class="plist">- BCA</li>
            <li class="plist">- Garuda Indonesia</li>
            <li class="plist">- Airways</li>
            <li class="plist">- Awa Air</li>
            <li class="plist">- Merpati Air</li>
            <li class="plist">- Mandala Airways</li>
            <li class="plist">- Indosiar</li>
            <li class="plist">- SCTV</li>
            <li class="plist">- Bank Mega</li>
            <li class="plist">- Asuransi</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h4 class="client-politicans-list">
            Client's lis for Politicians and President :
          </h4>
          <ul class="isi-client-uniform" style="list-style-type: none">
            <li class="plist">- Soeharto</li>
            <li class="plist">- Umar Wirahadikusuma</li>
            <li class="plist">- Habibi</li>
            <li class="plist">- Hamzah Has</li>
            <li class="plist">- Abdurrahman Wahid</li>
            <li class="plist">- Soesilo Bambang Yudhoyono</li>
            <li class="plist">- Joko Widodo</li>
            <li class="plist">- Goh Chok Tong (Singapore)</li>
            <li class="plist">- Mahathir Muhammad (Malaysia)</li>
            <li class="plist">- Sultan Hassanal Bolkiah (Brunei)</li>
            <li class="plist">- Corazon Aquino (Filipina)</li>
            <li class="plist">- Ratu Sirikit (Thailand)</li>
            <li class="plist">- Kofi Annan (Ghana-sekjen PBB)</li>
            <li class="plist">- Bill Clinton (Amerika)</li>
            <li class="plist">- Barrack Obama (Amerika)</li>
            <li class="plist">- George Bush (Amerika)</li>
            <li class="plist">- Fidel Castro (Kuba)</li>
            <li class="plist">- Nelson Mandela (Afrika Selatan)</li>
            <li class="plist">- Tony Blair (Inggris)</li>
            <li class="plist">- Etc</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="client-celebrities-list">Celebrities Customer</h4>
          <ul class="isi-client-uniform" style="list-style-type: none">
            <li class="plist">- Beyonce</li>
            <li class="plist">- Mariah Carey</li>
            <li class="plist">- David Foster</li>
            <li class="plist">- Ani Yudhoyono</li>
            <li class="plist">- Sita Nuriyah</li>
            <li class="plist">- Ainun Habibie</li>
            <li class="plist">- Dedi Panigoro</li>
            <li class="plist">- Anggun C.sasmi</li>
            <li class="plist">- Mayangsari</li>
            <li class="plist">- Widyawati</li>
            <li class="plist">- Etc</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="client-celebrities-list">Murid Yang Berhasil :</h4>
          <ul class="isi-client-uniform" style="list-style-type: none">
            <li class="plist">- Ivan Gunawan</li>
            <li class="plist">- Wilson</li>
            <li class="plist">- Melissa</li>
            <li class="plist">- Irfan</li>
            <li class="plist">- Rismanto</li>
            <li class="plist">- Leana</li>
            <li class="plist">- Hasan Bisri</li>
            <li class="plist">- Tati Mulyati</li>
            <li class="plist">- Etc</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h4 class="client-celebrities-list">
            Adjie's Design become Museum's Collection :
          </h4>
          <ul class="isi-client-uniform" style="list-style-type: none">
            <li class="plist">- Museo Del Traje , Madrid 2007 - sekarang</li>
            <li class="plist">- Galeri Nasional Australia (NGA)</li>
            <li class="plist">- New Zealand</li>
            <li class="plist">- The Lao National Museum, di Vientiane, Laos</li>
            <li class="plist">- Etc</li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="client-celebrities-list">Links :</h4>
          <ul class="list-group list-group-flush link-list">
            <li class="list-group-item">
              <a href="https://www.weddingku.com/blog/adjie-notonegoro-hikayat-sebuah-nama-ii-habis">Profile Adji Notonegoro</a>
            </li>
            <li class="list-group-item">
              <a href="http://www.adjinotonegoro.com/">Profile & Karya Adji Notonegoro</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.kapanlagi.com/showbiz/selebriti/kebaya-batik-adjie-notonegoro-jadi-koleksi-galeri-nasional-australia-zydfmho.html">Kebaya Batik Koleksi Galeri Australia</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
