.page-programlainnya {
  background-color: #a7242c;
  padding-bottom: 100px;
}

.main-div-pengajar {
  position: relative;

  padding-top: 75px;
  padding-bottom: 90px;

  background-image: url("../img/background-programlainnya.png");
  background-size: cover;
  height: 390px;
  background-repeat: no-repeat;
}

.content-title-design-programlainnya {
  text-align: right;
  line-height: 0.7;
  font-size: 60px;
}
.title-design-program {
  align-items: center;
  margin-top: 80px;
}

.pembatas-main {
  background-color: #dc2e37;
  height: 60px;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 2px 18px 13px 5px rgba(0, 0, 0, 0.22);
}

/* kumpulan card- card  */
.list-card {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  color: white;
}

.card-interstudi {
  display: inline-block;
  margin: 0 auto;
  background-color: #ff52df;
  border-radius: 50px;
  height: 350px;
  width: 700px;
  margin-bottom: 50px;
}
#card2 {
  background-color: #ff9c44;
}
#card3 {
  background-image: linear-gradient(to right, #3263fe, #9907fe);
  border-radius: 50px;
}

.kolom-penjelasan {
  text-align: left;
}

#card3 {
  background-image: linear-gradient(to right, #3263fe, #9907fe);
}

#card4 {
  background-color: #11db9f;
}
#card5 {
  background-color: #ffb900;
}
#card6 {
  background-color: #187dc3;
}
#card7 {
  background-color: #105036;
}
#card8 {
  background-color: #848484;
}
.isi-kolom-penjelasan {
  margin-top: 50px;
  margin-left: 30px;

  position: relative;
}

.view-more-card {
  position: relative;
  bottom: 0;
  right: 0;

  text-align: right;
  bottom: 0;
  margin-top: 30px;

  font-weight: 1000;
  transition: all 0.4s ease-in-out;
}

.view-more-card:hover {
  transform: translateY(-15px);
  transition: all 0.4s ease-in-out;
}

.text-view {
  color: white !important;
  transition: all 0.4s ease-in-out;
}

.text-view:hover {
  transform: translateY(-15px);
  transition: all 0.4s ease-in-out;
  color: white !important;
}

.title-program-card {
  font-weight: bolder;
  font-size: 24px;
}

.penjelasan-program-studi {
  margin-top: 40px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .content-title-design-programlainnya {
    font-size: 45px;
  }
  .card-interstudi {
    display: inline-block;
    margin: 0 auto;
    background-color: #ff52df;
    border-radius: 50px;
    height: 350px;
    width: auto;
    margin-bottom: 50px;
  }
  .title-program-card {
    font-weight: bolder;
    font-size: 24px;
  }
  .view-more-card {
    position: relative;
    bottom: 0;
    right: 0;

    text-align: right;
    bottom: 0;
    margin-top: 30px;

    font-weight: 1000;
    transition: all 0.4s ease-in-out;
    margin-right: 20px;
  }
  .penjelasan-program-studi {
    font-size: 12px;
  }
}
