{% extends 'base_pr.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/biayastudi.css' %}" />

<div class="page-biayastudi">
  <div class="main-div-biayastudi"></div>
  <div class="pembatas-main"></div>
  <h1 class="title-biayastudi">Biaya Studi</h1>

  <div class="row">
    <div class="col-lg-4 center">
      <div class="card-biayastudi">
        <div class="kontenkuning">
          <h1 class="title-card-harga">Diploma in Public</h1>
          <h1 class="title-card-harga">Relations</h1>
          <span class="detailhargadiskon"><s>Rp. 8.750.000</s> </span>
          <h1 class="title-detailhargadiskona">Potongan Biaya 35%</h1>
          <div class="detailharga">
            <p class="sub-detailhargadiskon">Rp.5.6500.00,-</p>
          </div>
          <div class="bungkus-small-text">
            <p class="small-text-infopembayaran">Pembayaran Tunai</p>
            <p class="small-text-infopembayaran">Program 1 Tahun</p>
            <p class="small-text-infopembayaran">Angkatan 76</p>
          </div>
        </div>
        <div class="kontenputih">
          <div class="desc-angsuran">
            <p>Biaya Angsuran 3x</p>
            <p>Rp.8.750.000</p>
          </div>
          <hr class="garis" />
          <div class="desc-angsuran">
            <p>Pembayaran 1 :</p>
            <p>Rp.4.375.000</p>
          </div>
          <hr class="garis" />
          <div class="desc-angsuran">
            <p>Pembayaran 2 :</p>
            <p>Rp.2.625.000</p>
          </div>
          <hr class="garis" />
          <div class="desc-angsuran">
            <p>Pembayaran 3 :</p>
            <p>Rp.1.725.000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 center">
      <div class="card-biayastudi">
        <div class="kontenkuning">
          <h1 class="title-card-harga">Certificate in</h1>
          <h1 class="title-card-harga">Public Relations</h1>
          <span class="detailhargadiskon"><s>Rp. 6.550.000</s> </span>
          <h1 class="title-detailhargadiskona">Potongan Biaya 35%</h1>
          <div class="detailharga">
            <p class="sub-detailhargadiskon">Rp.4.250.00,-</p>
          </div>
          <div class="bungkus-small-text">
            <p class="small-text-infopembayaran">Program 6 bulan</p>
            <p class="small-text-infopembayaran">Angkatan 106</p>
          </div>
        </div>
        <div class="kontenputih">
          <div class="desc-angsuran">
            <p>Biaya Angsuran 2x</p>
            <p>Rp.6.550.000</p>
          </div>
          <hr class="garis" />
          <div class="desc-angsuran">
            <p>Pembayaran 1 :</p>
            <p>Rp.3.950.000</p>
          </div>
          <hr class="garis" />
          <div class="desc-angsuran">
            <p>Pembayaran 2 :</p>
            <p>Rp.2.600.000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 center">
      <div class="card-biayastudi">
        <div class="kontenkuning">
          <h1 class="title-card-harga">Program 3 Hari</h1>
          <h1 class="title-card-harga">Public Relations</h1>
          <span class="detailhargadiskon"><s>Rp. 2.250.000</s> </span>
          <h1 class="title-detailhargadiskona">Harga Early Bid</h1>
          <div class="detailharga">
            <p class="sub-detailhargadiskon">Rp.4.250.00,-</p>
          </div>
          <div class="bungkus-small-text">
            <p class="small-text-infopembayaran">- PROGRAM 3 HARI -</p>
          </div>
        </div>
        <div class="kontenputih">
          <div class="desc-angsuran">
            <p><b>Lama Studi:</b></p>
            <p>3 Hari Fullday</p>
            <p>08.30 s/d 16.30 wib</p>
            <p>jl. Bulungan</p>
          </div>
          <hr class="garis" />
          <div class="desc-angsuran">
            <p><b>Pembayaran 1 :</b></p>
            <p>Biaya sudah termasuk course</p>
            <p>material, coffe break, lunch dan</p>
            <p>certificate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
