{% extends 'base_pr.html' %} {% load static %} {% block content %}

<div class="indexpage" style="background-color: #fafafa; padding-bottom: 100px">
  <!-- section 1  -->
  <div class="main-div">
    <div class="title-div">
      <div class="title-inner">
        <div class="konten-main">
          <div class="title-design">
            <h1 class="content-title-design">SCHOOL OF</h1>
            <h1 class="content-title-design">PUBLIC RELATIONS</h1>
          </div>

          <p class="detail-main-div">
            Public Relations adalah proses yang berkesinambungan dari usaha
            manajemen untuk memperoleh good will dan pengertian dari publik pada
            umumnya, termasuk stake holder internal.
          </p>
          <div class="container">
            <div class="row">
              <div class="col div-buttonawal">
                <a href="#konten">
                  <button class="button button3" href="#about">
                    Daftar
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- <a class="a-explore" href="#"
          ><div class="button-explore">EXPLORE</div></a
        > -->
      </div>
    </div>
  </div>
  <!-- section 1  -->

  <section id="konten" class="section-padding">
    <!-- section 2  -->
    <div class="container tujuan-utama">
      <p class="text-tugasutama">
        Tugas utama seorang public relations officer diantaranya mewakili
        perusahaan tempat anda bekerja untuk mewujudkan hubungan harmonis denan
        para klien, menjaga nama baik perusahaan, serta menyampaikan
        gagasan-gagasan yang menarik dan benar agar reputasi perusahaan tetap
        terjaga di mata masyarakat.
      </p>
      <div class="garis-orange"></div>

      <div class="row">
        <div class="col-lg-4 card-col-total">
          <div class="card-jumlah-card">
            <div class="konten-card">
              <p class="text-jenis-program">Program 1 Tahun</p>
              <p class="text-jumlah-total-program">5625</p>
              <p class="text-jenis-program">Total Siswa</p>
              <div class="garis-orange-card"></div>
              <p class="text-jenis-program">75 Angkatan</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-jumlah-card">
            <div class="konten-card">
              <p class="text-jenis-program">Program 6 bulan</p>
              <p class="text-jumlah-total-program">4160</p>
              <p class="text-jenis-program">Total Siswa</p>
              <div class="garis-orange-card"></div>
              <p class="text-jenis-program">104 Angkatan</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-jumlah-card">
            <div class="konten-card">
              <p class="text-jenis-program">Program 3 hari</p>
              <p class="text-jumlah-total-program">5625</p>
              <p class="text-jenis-program">Total Siswa</p>
              <div class="garis-orange-card"></div>
              <p class="text-jenis-program">62 Angkatan</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section 3  -->
    <div id="wrapper">
      <div id="c1"></div>
      <div id="c2">
        <div class="konten-profile">
          <div class="text-div-profile">
            <p class="title-Profile">Profile</p>
            <p class="text-title-prof">
              Nama InterStudi makna berbagai bidang studi dan pelatihan.
            </p>
          </div>
          <div class="text-div-moto">
            <p class="subtittle-profile moto">Moto</p>
            <p class="tex-subprof">
              Keunggulan untuk menghasilkan yang terbaik
            </p>
          </div>
          <div class="text-div-visi">
            <p class="subtittle-profile visi">Visi</p>
            <p class="tex-subprof">
              Menjadikan lembaga pelatihan terkemuka, konsisten dalam
              meningkatkan dan pengembangan kualitas sumber daya manusia sesuai
              kebutuhan global, menjadi yang terbaik melalui pengelolaan
              profesional.
            </p>
          </div>
          <div class="text-div-misi">
            <p class="subtittle-profile misi">Misi</p>
            <p class="tex-subprof">
              Menyelenggarakan berbagai bidang pendidikan dan pelatihan guna
              meningkatkan kualitas sumber daya manusia untuk memenuhi berbagai
              kesempatan kerja.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- section 3  -->

    <div class="daftar-harga">
      <div class="materi-tittle-inner">
        <div class="title-materi-design">
          <h1 class="content-materi-design">Daftar Harga</h1>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 card-harga">
            <div class="column-card-harga">
              <h1 class="title-card-harga">Harga Online</h1>
              <span class="detailhargadiskon"><s>Rp. 11.550.000</s> </span>
              <p>Potongan biaya 35%</p>
              <br />

              <p>Khusus harga di tahun 2021</p>
              <p class="fix-harga">Rp.7.500.000</p>
              <div class="jenis-pembayaran">
                <p class="isi-jenis-tunai">Pembayaran Tunai</p>
                <p class="isi-jenis-tunai-2">Program 6 Bulan</p>
              </div>

              <div class="garis-bayar">
                <hr class="garis" />
                <p class="bayar-angsuran">Bayar Dengan Angsuran 3x</p>
                <hr class="garis" />
              </div>

              <p class="total-bayar">-Rp. 11.300.00,00</p>

              <div class="detail-angsuran">
                <p>Angsuran 1.Rp.5.855.000</p>
                <p>Angsuran 2.Rp.3.525.000</p>
                <p>Angsuran 3.Rp.2.250.000</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 card-harga">
            <div class="column-card-harga">
              <h1 class="title-card-harga">Harga Online</h1>
              <span class="detailhargadiskon"><s>Rp. 11.750.000</s> </span>
              <p>Potongan biaya 35%</p>
              <br />

              <p>Khusus harga di tahun 2021</p>
              <p class="fix-harga">Rp.7.600.000</p>
              <div class="jenis-pembayaran">
                <p class="isi-jenis-tunai">Pembayaran Tunai</p>
                <p class="isi-jenis-tunai-2">Program 6 Bulan</p>
              </div>

              <div class="garis-bayar">
                <hr class="garis" />
                <p class="bayar-angsuran">Bayar Dengan Angsuran 3x</p>
                <hr class="garis" />
              </div>

              <p class="total-bayar">-Rp. 11.750.00,00</p>

              <div class="detail-angsuran">
                <p>Angsuran 1.Rp.5.855.000</p>
                <p>Angsuran 2.Rp.3.525.000</p>
                <p>Angsuran 3.Rp.2.350.000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31728.50632921006!2d106.797831358722!3d-6.255392560214115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f16ae11eebb1%3A0x77bb713e6c8e9d09!2sInterStudi%20Bulungan!5e0!3m2!1sen!2sid!4v1628184336716!5m2!1sen!2sid"
        class="map-interstudi"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </section>
</div>

{% endblock content %}
