{% extends 'base_pr.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/programlainnya.css' %}" />

<div class="page-programlainnya">
  <div class="main-div-pengajar">
    
  </div>
  <div class="pembatas-main"></div>
  <h1 class="title-programlainnya">Program Lainnya</h1>
  

  {% comment %} <div class="container list-card">
    <div class="card-interstudi">
    
      <div class="row">
       
        <div class="col-lg-8 kolom-penjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Sekretaris </h4>
            <p class="penjelasan-program-studi">
              Menghasilkan lulusan sekretaris yang dapat melaksanakan
              tugas-tugas kesekretarisan atau administrasi perkantoran secara
              professional, yang memiliki keterampilan berkomunikasi dan
              beradaptasi di lingkungan kerja, keterampilan komputer dan
              internet, memiliki pemahaman tentang manajemen, serta memiliki
              kepribadian dan berperilaku yang baik sesuai etika profesi.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <div class="card-interstudi" id="card2">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Interior</h4>
            <p class="penjelasan-program-studi">
              Desain interior adalah Ilmu yang mempelajari perancangan suatu
              karya seni yang ada di dalam suatu bangunan dan digunakan untuk
              memecahkan masalah manusia. Salah satu bidang studi keilmuan yang
              didasarkan pada ilmu desain.
              <br />
              <br />
              Bidang keilmuan ini bertujuan untuk dapat menciptakan suatu
              lingkungan binaan (ruang dalam) beserta elemen-elemen
              pendukungnya, baik fisik maupun nonfisik.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <div class="card-interstudi" id="card3">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan" id="card3-kolompenjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Grafis</h4>
            <p class="penjelasan-program-studi">
              Desain grafis adalah suatu bentuk komunikasi visual yang
              menggunakan gambar untuk menyampaikan informasi atau pesan
              seefektif mungkin. Dalam disain grafis, teks juga dianggap gambar
              karena merupakan hasil abstraksi simbol-simbol yang bisa
              dibunyikan, disain grafis diterapkan dalam disain komunikasi dan
              fine art.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <div class="card-interstudi" id="card4">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan" id="card4-kolompenjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Public Relations</h4>
            <p class="penjelasan-program-studi">
              Public Relations adalah suatu proses yang berkesinambungan dari
              usaha manajemen untuk memperoleh good will dan pengertian dari
              publik pada umumnya, termasuk stake holder internal.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <div class="card-interstudi" id="card5">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan" id="card5-kolompenjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Broadcast</h4>
            <p class="penjelasan-program-studi">
              Pendidikan broadcasting memberikan pengajaran, pedidikan dan
              pelatihan kepada siswa untuk memasuki dunia lapangan kerja yang
              sesungguhnya di bidang penyiaran baik radio maupun televisi.
              Bahkan konsentrasi ini sangat diminati oleh mereka yang berjiwa
              kreatif di bidang audio visual.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <div class="card-interstudi" id="card6">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan" id="card6-kolompenjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Language Center</h4>
            <p class="penjelasan-program-studi">
              Memiliki kemampuan berbahasa asing menjadi sangat penting, dalam
              mengantisipasi era globalisasi. Dengan kemampuan berbahasa asing
              yang baik, sangat mendukung berbagai profesi yang ada. Menyadari
              hal ini, InterStudi mengembangkan program studi bahasa.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <div class="card-interstudi" id="card7">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan" id="card7-kolompenjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Bursa Kerja</h4>
            <p class="penjelasan-program-studi">
              Bursa Kerja InterStudi berdiri tahun 2000, menjadi wadah guna
              menjembatani para alumni InterStudi dengan perusahaan untuk
              memasuki dunia kerja. Bursa kerja ini sebagai salah satu wadah
              resmi guna mengaspirasi dan mengevaluasi seberapa banyak jumlah
              lulusan InterStudi yang terserap oleh perusahaan pencari kerja.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>

    <div class="card-interstudi" id="card8">
      <div class="row">
        <div class="col-lg-8 kolom-penjelasan" id="card8-kolompenjelasan">
          <div class="isi-kolom-penjelasan">
            <h4 class="title-program-card">InterStudi Short Course</h4>
            <p class="penjelasan-program-studi">
              Short Course <br />
              Program Short Course InterStudi di rancang bagi peserta yang ingin
              menambah wawasan namun memiliki waktu yang terbatas. Dengan lama
              belajar 2-3 hari, para peserta diharapkan mendapat pemahaman
              mengenai materi-materi yang sesuai dengan kebutuhannya.
            </p>
            <p class="view-more-card">
              <a href="#" class="text-view">View More >></a>
            </p>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="container-fluid color-div" style="margin-top: 60px;">
<div class="container white-div">

  {% for key, value in program_lainnya.items %}
  <div class="program-lainnya-div"
        style="background-image: url('../static/img/{{key}}.png'); width: 90%;background-size: cover; background-repeat: no-repeat; color: white; margin: auto; border-radius: 25px;"
      >
    <div class="events-text" style="width: 45%; padding: 40px;">
      <h4>{{value.title}}</h4>
      <p>{{value.desc}}</p>
      <a href="#" style="text-decoration: none; border: none; color: white; font-weight: 700;">View More >></a>
    </div>
  </div>
  <br><br>
  {% endfor %}

  <br /><br /><br />
</div>
</div>
</div>

<script>
  colors = ["#FF0000", "#FF9C44", "#930DFF", "#12DBA0", "#FFBA00", "#197DC3", "#105036", "#848484"]
  if(window.innerWidth <= 991){
      console.log("yey");
      let programs = document.getElementsByClassName("program-lainnya-div")
      let events = document.getElementsByClassName("events-text")
      for (let index = 0; index < programs.length; index++) {
        programs[index].style.backgroundImage = null;
        programs[index].style.width= null;
        programs[index].style.backgroundSize= null; 
        programs[index].style.backgroundRepeat= null;  
        programs[index].style.backgroundColor=colors[index]
        events[index].style.width = "100%"
      }
    }
  window.addEventListener("resize", () => {
    if(window.innerWidth <= 991){
      console.log("yey");
      let programs = document.getElementsByClassName("program-lainnya-div")
      let events = document.getElementsByClassName("events-text")
      for (let index = 0; index < programs.length; index++) {
        programs[index].style.backgroundImage = null;
        programs[index].style.width= null;
        programs[index].style.backgroundSize= null; 
        programs[index].style.backgroundRepeat= null;  
        programs[index].style.backgroundColor=colors[index]
        events[index].style.width = "100%"
      }
    }
  });
</script>

{% endblock content %}
