{% extends 'base_grafis.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/galeri.css' %}" />

<div class="main-galeri-div">
  <div class="title-div">
    <div class="title-galeri-inner">
      <h1>Galeri</h1>
    </div>
  </div>
  <!-- <br><br> -->
  <!-- <img src="{% static 'img/white_artwork.png' %}" class="white-artwork wa" alt=""> -->
</div>

<div class="galeri">
  <br><br><br><br>
  <div
      id="carouselExampleIndicators{{forloop.counter}}"
      class="carousel slide"
      data-ride="carousel"
      >
      <div class="carousel-inner" id="galeri-carousel-inner">
        
        {% for foto in list_foto %}
        {% if forloop.counter == 1 %}
        <div
          class="carousel-item active"
          style="background-color: rgb(158, 158, 158)"
        >
          <img class="d-block w-100" src="{% static 'img/'|add:foto %}" alt="First slide" />
        </div>

        {% else %}

        <div
          class="carousel-item"
          style="background-color: rgb(158, 158, 158);"
        >
          <img class="d-block w-100" src="{% static 'img/'|add:foto %}" alt="First slide" />
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators{{forloop.counter}}"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators{{forloop.counter}}"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
</div>




{% endblock content %}