{% extends 'base_grafis.html' %} {% load static %} {% block content %}
<div class="main-div">
  <div class="title-div">
    <div class="title-inner">
      <img
        src="{% static 'img/interstudi_grafis_artwork.png' %}"
        class="title-artwork"
        alt=""
      />
      <br />
      <p>
        Banyak orang mengira, untuk menjadi seorang desain grafis cukup hanya
        dengan mempelajari software komputer. Dengan menguasai berbagai software
        computer grafis, seseorang dapat leluasa mengekspresikan ide-idenya.
        Persoalan yang berkaitan dengan sejarah, konsep, dan proses desain
        dianggap kurang penting. Keterampilan mengoperasikan software desain
        grafis memang wajib kita miliki. Tetapi tanpa memahami seluk-beluk
        desain grafis, kita seperti bertempur dalam sebuah wilayah asing, tidak
        tahu arah dan sasaran tembak.
      </p>
      <br />
      <a class="a-explore" href="#"
        ><div class="button-explore">EXPLORE</div></a
      >
    </div>
  </div>
  <br /><br />
  <img
    src="{% static 'img/white_artwork.png' %}"
    class="white-artwork"
    alt=""
  />
  <br /><br />
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="index-graphic-design">
          <h1 class="title-graphic-design">Graphic Design</h1>
          <p class="desc-graphic-design">
            Desain grafis adalah suatu bentuk komunikasi visual yang menggunakan
            gambar untuk menyampaikan informasi atau pesan seefektif mungkin.
            Dalam disain grafis, teks juga dianggap gambar karena merupakan
            hasil abstraksi simbol-simbol yang bisa dibunyikan, disain grafis
            diterapkan dalam disain komunikasi dan fine art.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img
          src="{% static 'img/index_artwork.png' %}"
          class="index-artwork"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="artikel-title">
  <h1 class="title-artikel">Artikel</h1>
</div>

<div class="list-artikel">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="artikel">
          <h3>Arti Desain</h3>
          <p>
            Desain diartikan sebagai seni terapan, arsitektur, dan berbagai
            pencapaian kreatif lainnya. Dalam sebuah kalimat, kata “desain” bisa
            digunakan baik sebagai kata benda maupun kata kerja. Sebagai kata
            kerja, “desain” memiliki arti “proses untuk membuat dan menciptakan
            obyek baru”. Sebagai kata benda, “desain” digunakan untuk menyebut
            hasil akhir dari sebuah proses kreatif, baik itu berwujud sebuah
            rencana, proposal, atau berbentuk obyek nyata.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="artikel">
          <h3>Arti Grafika</h3>
          <p>
            Grafika adalah segala cara pengungkapan dan perwujudan dalam bentuk
            huruf, tanda, dan gambar yang diperbanyak melalui proses percetakan
            guna disampaikan kepada khalayak. Contohnya adalah foto,
            gambar/drawing, Line Art, grafik, diagram, tipografi, angka, simbol,
            desain geometris, peta, gambar teknik, dan lain-lain. Seringkali
            dalam bentuk kombinasi teks, ilustrasi, dan warna.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="artikel">
          <h3>Arti Desain Grafis</h3>
          <p>
            Desain grafis adalah suatu bentuk komunikasi visual yang menggunakan
            gambar untuk menyampaikan informasi atau pesan seefektif mungkin.
            Dalam disain grafis, teks juga dianggap gambar karena merupakan
            hasil abstraksi simbol-simbol yang bisa dibunyikan, disain grafis
            diterapkan dalam disain komunikasi dan fine art. Seperti jenis
            desain lainnya, disain grafis dapat merujuk kepada proses pembuatan,
            metoda merancang, produk yang dihasilkan (rancangan), atau pun
            disiplin ilmu yang digunakan (desain).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="compro row">
      <div class="compro-left col-sm-4">
        <img src="{% static 'img/logo_interstudi.png' %}" alt="" />
      </div>
      <div class="compro-right col-sm-8">
        <h3>Profile</h3>
        <br />
        <p>
          Nama InterStudi mempunyai makna berbagai bidang studi dan pelatihan.
        </p>

        <p>Motto : Kesungguhan untuk menghasilkan yang terbaik.</p>

        <p>
          Visi : Menjadikan lembaga pelatihan terkemuka, konsisten dalam
          peningkatan dan pengembangan kualitas sumber daya manusia sesuai
          kebutuhan global, menjadi yang terbaik melalui pengelolaan profesional
        </p>

        <p>
          Misi : Menyelenggarakan berbagai bidang pendidikan dan pelatihan guna
          meningkatkan kualitas sumber daya manusia untuk memenuhi berbagai
          kesempatan kerja
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
